# Python Cheatheet :-

Python is a powerful programming language used in various applications like - 
    .Web development
    .Mathematics
    .Software Development
    .Handling Big Data. etc..
    
Benefit of python are -
    .Fewer line of code
    .Rich APIs
    .Code can be write and run together (Work as interpreter)
    .Can be treated as Procedural, Functional, or, OOps
    
PYTHON RELY ON IDENTATION (WHITE SPACE) to define scope of a LOOP, FUNCTION, and, CLASS

In [1]:
# print("Hello World!")

In [2]:
#Python need identation
if 2 < 5:
            print("You are right!")

You are right!

# Comments in Python

In [3]:
#I am a comment

In [4]:
#I am a part of
#Multiline comments
#Really


"""
You might be wondering
but both of us are a multiline comment
implemented in different way
"""

'\nYou might be wondering\nbut both of us are a multiline comment\nimplemented in different way\n'

# Python Variable

In [5]:
#Python varible type decides after assigning value to it, it can even change later

variable = 5
print(variable)

x = chr(3)
y = str(3)
print(x)
print(y)

5

3

In [6]:
#type is used to check python variable
print(type(x))
print(type(y))
print(type(variable))

<class 'str'>
<class 'str'>
<class 'int'>

In [7]:
#multiple assignment can happen in python
p ,q , r = 10, 20, 30
print(p)
print(q)
print(r)

#single value assignment to multiple variable
s = t = u = 10
print(s)
print(t)
print(u)

#unpack a collection
val = [10, 20, 30, 40]
a, b, c, d = val
print(a)
print(b)
print(c)
print(d)

10
20
30
10
10
10
10
20
30
40

In [8]:
temp = 'Ranjeet'
print('My Name is '+temp)

My Name is Ranjeet

In [9]:
#global variable can be declare using global keywor or uotside function

imGlobal = 10
if(10 < 12):
    global var
    var = 138
print(var)
print(imGlobal)

138
10

# Data Type in Python

Data Type in the Python are decided at the time of assignment

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

Set the specific data type

In [10]:
x = str("Hello World")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age=36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

In [11]:
#Illustration

### Number in Python

In [12]:
x = 10
y = 23.45
z = 10 + 5j

print(x) #integer
print(y) # Float
print(z) # Complex

a = complex(10)
print(a)

10
23.45
(10+5j)
(10+0j)

### Random Number in Python

Python has random module to generate a random number

In [13]:
import random
a = random.randrange(1,10)
print(a)

2

### String in Python

In [14]:
a = 'Hello'
b = "Hello"
c = """I am multi line string
assigned to a variable, yes I am allowed"""
print(a)
print(b)
print(c)

Hello
Hello
I am multi line string
assigned to a variable, yes I am allowed

String are array of character

In [15]:
a = 'I am array'

size = len(a)
print(a[2])

for i in range(size):
    print(a[i])

a
I

a
m

a
r
r
a
y

#### in String

In [16]:
a = 'Ranjeet Kumar'
print('jeet' in a) #to check if text is present
print('jeet' not in a) # check if not present

True
False

### Important operation on String in Python

In [17]:
text  = 'Ranjeet Kumar'

print(text) #Entire string
print(text[:4]) #Slice 4 length from starting
print(text[2:9]) #Slice from index 2 to less than 9
print(text[2:]) # from index 2 to last
print(text[-4:-2]) #Starts slicing from 4th element from end to 2nd
print(text.upper()) #To print string in upper case
print(text.lower()) #To print element in Lower case
print(text.strip()) #Remove space from begining or end
print(text.replace('j', 'k')) #

Ranjeet Kumar
Ranj
njeet K
njeet Kumar
um
RANJEET KUMAR
ranjeet kumar
Ranjeet Kumar
Rankeet Kumar

###### List from String by spliting it

In [18]:
msg = 'I,Am,Ranjeet,Kumar'
x = list(msg.split(","))
print(x)

['I', 'Am', 'Ranjeet', 'Kumar']

In [19]:
#concatation of string
text1 = 'Hi'
text2 = 'Ranjeet'
text3 = "Kumar"
print(text1 + " " + text2 + " " + text3)

Hi Ranjeet Kumar

In [20]:
#concatation of number and string are not posible
a = 3
text = "I am no "
#print(text + a) #will generate an error

b = "3"
print(text + b) #string concatanation is possible

I am no 3

In [21]:
# We can combine string with other data type with the help of format
#format method (format()) takes unlimited number of argument
#it places the argument at placeholder {}
age = 24
height = 5.8
name = 'Ranjeet Kumar'

msg = "My name is {}, I am {} year old and {} feet tall." #Use placeholder in varibale to concat
#print message by passing #argument equal to the #placeholder
print(msg.format(name, age, height))

My name is Ranjeet Kumar, I am 24 year old and 5.8 feet tall.

##### Escape Character

The character which are a part of inbuilt programming language can not be printed directly, to print these letter use escape "\"

In [22]:
print("""""") # nothing will print

print("\"") #one double quote will print
print("''")
print('''''') #nothing will print
print('\'') #one single quote will print

"
''

'

##### Some important character not allowed to print directly

\'     Single Quote
\\     Backslash
\n     New Line
\r     Carriage Return
\t     Tab
\b     Backspace
\f     Form Feed
\ooo   Octal value
\xhh   Hex value

#### Some important string methods

In [23]:
text  = 'I am Ranjeet Kumar'

print(text.count('a')) #Count and return #times occurence of an element
print(text.find('a')) #Returns the index of specific character
print(text.lower()) #convert string into lower case
print(text.upper()) #convert string into ipper case
print(text.translate("Hindi")) #convert string into lower case
print(text.replace('a', 'm')) #replace a specofoc element with other given element
print(text.zfill(25))  #fills begining of string with zeros to get the specific lenght

3
2
i am ranjeet kumar
I AM RANJEET KUMAR
I am Ranjeet Kumar
I mm Rmnjeet Kummr
0000000I am Ranjeet Kumar

"join" method (Joins the elements of an iterable to the end of the string)

In [24]:
" ".join(text)

'I   a m   R a n j e e t   K u m a r'

In [25]:
list1 = ['1','0','1', '0', '2',]
list2 = []
"Number ".join(list1)

'1Number 0Number 1Number 0Number 2'

### Boolean in Python

.Almost every value is considered as True except : Empty (), {}, [], "", 0 and None
.False is also evaluated as False

In [26]:
print(bool([]))

False

# Python Operator

Arithmetic :: +(Add) | -(sub) | *(mul) | /(div) | **(exponential) | //(floor division)

In [27]:
3 ** 4

81

Assignment :: =, -=, +=, /=, *=, **=, //=, %=, &=, !=, |=, ^=, >>=, <<=

In [28]:
a = 5
a**=3
print(a)

125

Comparison Operator :: Use to compare two value :: == (Equal), !=(not equal), <(less than), >(greater than), <=(less than or equal to), >=(greater than or equal to)

In [29]:
5 > 6

False

Logical Operator :: Use to combine conditional statement :: and, or, not

In [30]:
print(5 > 2 and 7 < 9)

True

Python Identity Operator :: Used to compare objects :: is, is not

In [31]:
print(5 is 6)
print(5 is not 6)

False
True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-31-905bd89490f9>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(5 is 6)
<ipython-input-31-905bd89490f9>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(5 is not 6)

Python Membership Operator :: Use to check sequence :: in, not in

In [32]:
text  = 'I am Ranjeet Kumar'
print('Ran' in text)
print("Ran" not in text)

True
False

Python Bitwise Operator :: Perform Operation at Bit Level :: &(and), |(or), ~(not), ^(xor), <<(left shift), >>(right shift)

In [34]:
5 << 6

320

# Python Collection (Array)

# List in Python

List is a store room use to store multiple value in a single variable
Written using square bracket.
List element are mutable

In [35]:
mylist = ['I', 'am', 38, 'year', 'old'] #changable and allow duplicates

In [36]:
mylist

['I', 'am', 38, 'year', 'old']

"()" Is list constructor

In [37]:
mylist2 = list(('Hi', 'I', 'am', 'Ranjeet', 'Kumar'))

In [38]:
mylist2

['Hi', 'I', 'am', 'Ranjeet', 'Kumar']

In [39]:
print(mylist2[1]) #element present at index 1
print(mylist2[-1]) #last element
print(mylist2[-2]) #second element from last
print(mylist2[2:3]) #start from 2 but do not include 3
print(mylist2[:3]) #starting to 3
print(mylist2[2:]) #Starting from 2 to last
print(mylist2[-2: -1]) #from second last to last (exclusing last)
print(mylist2[-2:1]) #from second last to begining which will be invalid bcz it is not circular so will return empty list

I
Kumar
Ranjeet
['am']
['Hi', 'I', 'am']
['am', 'Ranjeet', 'Kumar']
['Ranjeet']
[]

In [40]:
'ranjeet' in mylist2 #check if a value present in list

False

In [41]:
mylist2[2] = 'is' #replace/update a value
mylist2

['Hi', 'I', 'is', 'Ranjeet', 'Kumar']

In [42]:
mylist2[2:4] = 'is', 'sohan' #update in a range
mylist2

['Hi', 'I', 'is', 'sohan', 'Kumar']

Insert value at index i  without replacing:

In [43]:
mylist2.insert(2, 'are') #
mylist2

['Hi', 'I', 'are', 'is', 'sohan', 'Kumar']

In [44]:
mylist2.append(5) #add value at the last of list
print(mylist2)

['Hi', 'I', 'are', 'is', 'sohan', 'Kumar', 5]

Extend list : list2 will be appended to last1 (list, tuple, dictionary anything can be added)

In [45]:
mylist2.extend(mylist)
print(mylist2)

['Hi', 'I', 'are', 'is', 'sohan', 'Kumar', 5, 'I', 'am', 38, 'year', 'old']

##### Remove List Item

In [46]:
mylist = ['Ram', 'Shyam', 'Mohan', 5, 6.7, True, 'Hi', "Bi"]

In [47]:
mylist.remove(5) #Delete specific element but not index wise
print(mylist)

mylist.pop(2) #Delete specific index value, by default last element if index not given
print(mylist)

del mylist[3] #delete specific index, also can delete entire list completely
print(mylist)

mylist.clear() #It clear the list and make it empty
print(mylist)

del mylist
#print(mylist) #Will give error because mylist has been deleted

['Ram', 'Shyam', 'Mohan', 6.7, True, 'Hi', 'Bi']
['Ram', 'Shyam', 6.7, True, 'Hi', 'Bi']
['Ram', 'Shyam', 6.7, 'Hi', 'Bi']
[]

#### Iterate Through a List

In [48]:
mylist = ['Hi', 'Bi', 'I', 'am', 'Ranjeet']

In [49]:
for i in mylist: #For all element in the list
    print(i)

Hi
Bi
I
am
Ranjeet

In [50]:
for i in range(len(mylist)): #To access element in a specific range
    print(mylist[i])

Hi
Bi
I
am
Ranjeet

In [51]:
[print(x) for x in mylist]

Hi
Bi
I
am
Ranjeet

[None, None, None, None, None]

#### List comprehension

List comprehension facilitate to create a new list from existing list in shorter way

Signature :: newlist = [expression for item in iterable (existing list) if condition == True]

In [57]:
list1 = ['I', 'am', 'Ranjeet', 'Kumar']
list2 = [x for x in list1]
print(list2)

['I', 'am', 'Ranjeet', 'Kumar']

#### Sorting List in Python

In [74]:
list1 = ['I', 'am', 'Ranjeet', 'Kumar']
list1.sort() #Sort alphanumeric and it is case sensitive (Upper case before Lower case), By default in ascending order
print(list1)

list1 = [38,55,23,45,79,24]
list1.sort()
print(list1)

list1.sort(reverse = True) #Sort in descending order
print(list1)

list1 = ['I', 'am', 'Ranjeet', 'Kumar'] #case sensitive will result inappropriate
list1.sort(key=str.lower)
print(list1)

['I', 'Kumar', 'Ranjeet', 'am']
[23, 24, 38, 45, 55, 79]
[79, 55, 45, 38, 24, 23]
['am', 'I', 'Kumar', 'Ranjeet']

In [75]:
#costomising order
def myOrder(n):
    return abs(n - 50) #how far a number is from 50
list1 = [38,55,23,45,79,24]
list1.sort(key=myOrder)
print(list1)

[55, 45, 38, 24, 23, 79]

In [78]:
list1 = ['I', 'am', 'Ranjeet', 'Kumar']
list1.reverse()
print(list1)

['Kumar', 'Ranjeet', 'am', 'I']

#### Copy a List

In [80]:
"""
List1 = ['I', 'am', 'Ranjeet', 'Kumar']
list2 = list1 #By doing this we are only giving reference to list 2, if we make change to list1 it will also reflect in list2
"""

list1 = ['I', 'am', 'Ranjeet', 'Kumar']
list2 = list1.copy() #copy content of list1 to list2
print(list2)

list1 = ['I', 'am', 'Ranjeet', 'Kumar', 123]
list2 = list(list1)
print(list2)

['I', 'am', 'Ranjeet', 'Kumar']
['I', 'am', 'Ranjeet', 'Kumar', 123]

#### Join List

In [83]:
list1 = ['I', 'am', 'Ranjeet', 'Kumar']
list2 = [24,242,444,44,3]

#Method 1
list2 = list1 + list2
print(list2)

#Method 2 (append element one by one)
for i in list1:
    list2.append(i)
print(list2)

#Method 3 (extend list)
list2.extend(list1)
print(list2)

['I', 'am', 'Ranjeet', 'Kumar', 24, 242, 444, 44, 3]
['I', 'am', 'Ranjeet', 'Kumar', 24, 242, 444, 44, 3, 'I', 'am', 'Ranjeet', 'Kumar']
['I', 'am', 'Ranjeet', 'Kumar', 24, 242, 444, 44, 3, 'I', 'am', 'Ranjeet', 'Kumar', 'I', 'am', 'Ranjeet', 'Kumar']

### List methods

append()    #Adds an element at the end of the list
clear()     #Removes all the elements from the list
copy()      #Returns a copy of the list
count()     #Returns the number of elements with the specified value
extend()    #Add the elements of a list (or any iterable), to the end of the current list
index()     #Returns the index of the first element with the specified value
insert()    #Adds an element at the specified position
pop()       #Removes the element at the specified position
remove()    #Removes the item with the specified value
reverse()   #Reverses the order of the list
sort()      #Sorts the list

# Python Tuples

.Tuples used to store multiple items in a single variable.
.Tuples element Ordered are immutable in nature
.Tuples are written innround bracket
.Tuples allow Duplicates

In [97]:
mytuple = ('I','am','Ranjeet','Kumar','24') #creating tuples
singleValueTuple = ('Hi',) #Remember to add comma (,) after inserting value otherwise list won't be created

In [98]:
print(len(mytuple)) #find length of tuple
print(type(mytuple)) #data type of tuple

5
<class 'tuple'>

In [99]:
print(mytuple[3])  #access 3rd index of tuples
print(mytuple[-2]) #access second last
print(mytuple[2:5])  #access range of tuple, starts from 2nd index but not including 5th index
print('Kumar' in mytuple)  #check if particular element exists

Kumar
Kumar
('Ranjeet', 'Kumar', '24')
True

Updating Tuple is not possible, we can do it by changing it into list then make change and in the last convert in back into tuple

In [100]:
del mytuple
#print(mytuple) #will raise an error